/* navbar styling */
.nav {
   margin: 0 auto;
}
.nav-logo {
 margin: 5;
 color: #8f1b11;
 font-family: 'Bitter', serif;
 text-transform: uppercase;
 font-weight: 800;
 padding-left: 15px;
 padding-right: 15px;
}

.dropdown {
  padding-left: 10px;
}


#container {
  width: 60%;
  margin: 0 auto;
}

#container2 {
  width: 60%;
  margin: 0 auto;
}

#container3 {
  width: 60%;
  margin: 0 auto;
}

#container4 {
  width: 60%;
  margin: 0 auto;
}

#container5 {
  width: 60%;
  margin: 0 auto;
}

#container6 {
  width: 60%;
  margin: 0 auto;
}

/*topper styling */
.hero-container {
  position: relative;
  text-align: center;
}

.hero-hed {
  color: #8f1b11;
  font-size: 6em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  padding-top: 350px;
  text-shadow: 2px 2px #858585;
}

#hero-sub {
  color: white;
  font-size: 1.25em;
  font-family: 'Bitter', serif;
  font-style: italic;

}

.jumbotron {
  height: 850px;
  background-color: black;

}

#to {
  color: #858585;
  display: inline;
  font-size: .5em;
  text-shadow: 0px 0px;
}

/* text styling */

.headline {
  font-size: 3em;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 600;
  padding-top: 10px;
}

.byline {
  font-size: 1em;
  text-align: left;
  font-family: 'Bitter', serif;
  font-weight: 400;
}

#first {
  padding-top: 10px;
}

.section {
  text-align: left;
  color: black;
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 2em;
  font-weight: 500;
  border-bottom: solid 3px #8f1b11;
  padding-top: 100px;
}

.bold {
  font-weight: bold;
}

/* graphs styling */
#map {
  min-width: 60%;
  margin: 0 auto;
  display: block;

}

#chart {
  min-width: 60%;
  margin: 0 auto;
  display: block;
}

#column-chart {
  min-width: 60%;
  margin: 0 auto;
  display: block;
}

.restart {
  padding-top: 75px !important;
}

.end {
  padding-bottom: 75px !important;
}

/* photos */
.grid-container {
  margin: 0 auto;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 3px #858585;
  border-bottom: solid 3px #858585;
}

img {
  display: block;
  margin: 0 auto;
}

.tackle {
  padding-top: 15px;
}

.caption {
  font-family: 'Bitter', serif;
  font-size: .75em;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 5px;
}

#caption-tackle {
  padding-bottom: 15px;
  max-width: 700px;
}

.gif {
  width: 100%;
}

.gif-caption {
  max-width: 100%;
  text-align: left;
  padding-left: 10px;
  font-family: 'Bitter', serif;
  font-size: .75em;
  padding-top: 5px;
}



/* pullquote */
.quote {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-size: 2em;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-top: 3px solid #858585;
  border-bottom: 3px solid #858585;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin: 0 auto;
  display: block;
}


.attribution {
  font-size: .4em;
  font-family: 'Bitter', serif;
  font-weight: 50;
  color: #000;
  text-align: center;
}

.icon {
  text-align: center;
  font-size: 1em;
  color: #8f1b11;
}

#pull-restart {
  padding-top: 75px;
}

/* carousel */
.carousel {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 60%;
  margin: 0 auto;

}

.carousel-inner{
  font-family: 'Bitter', serif;
  color: black;
  text-align: center;
  max-width: 55%;
  margin: 0 auto !important;
}

.source {
  font-family: 'Bitter', serif;
  padding-top:0;
  font-size: .5em;
}


.footer {
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  padding-bottom: 10px;
}

#dots {
  font-size: 3em;
  color: #8f1b11;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.year {
  margin: 0 auto;
  padding-top: 5px;
}

@media(max-width:500px) {

  .hero-hed {
    font-size:4em;
  }

  #hero-sub {
    font-size: 1em;
  }

  .headline {
    font-size: 2em;
  }

  .grid-container {
    width: 60%;
  }

  .pictures {
    width: 70%;
  }

  #column-chart {
    max-width: 60%;
  }

  #map {
    max-width: 40%;
    margin: auto;
    display: block;
  }

  .quote {
    font-size: 1em;
  }

  .caption {
    font-size: .5em;
    max-width: 200px;
  }

  .carousel-inner {
    max-width: 90%;
  }

  .tackle {
    max-width: 70%;
    padding-left: 5px;
  }

  #tackle-caption {
    max-width: 70%;
    display: block;
  }
}
