.container {
  width: 60%;
  margin: 0 auto;
}

#start {
  width: 70%;
}

#middle {
  width: 70%;
}

#middle1 {
  width: 70%;
}

#middle2 {
  width: 70%;
}


/* splash */

.jumbotron {
  background-color: #000;
  height: 700px;
  padding-top: 200px;
  padding-bottom: 250px;
}
.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
}


.btn {
  padding-top: 40px;
}

.hero-hed {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 5em;
  font-family: 'Shippori Antique', sans-serif;
  padding-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
}

#burning {
  color: #D55312;
  display: inline;
  padding-right: 10px;
}

.hero-sub {
  font-family: 'Merriweather', serif;
  font-size: .25em;


}

/* pullquote */
.quote {
  font-family: 'Shippori Antique', sans-serif;
  color: #000;
  font-size: 2em;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-top: 2px solid #D55312;
  border-bottom: 2px solid #D55312;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin: 0 auto;
  display: block;
}


.attribution {
  font-size: .4em;
  font-family: georgia, serif;
  font-weight: 50;
  color: #000;
  text-align: center;
}

.icon {
  text-align: center;
  font-size: .75em;
  color: #000;
}
/* graphics */
.line-chart {
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.bar-chart {
  padding-top: 10px;
  padding-bottom: 10px;
}

.map {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* text styling */
.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Shippori Antique', sans-serif;
  padding-top: 25px;
}

.byline {
  font-size: .75em;
  font-family: georgia, serif;
  text-align: left;

}

.chapter {
  font-family: 'Shippori Antique', sans-serif;
  text-align: left;
  font-size: 2em;
  border-bottom: solid 3px #D55312;
}

p {
  font-family: georgia, serif;
  line-height: 180%;
}

.section-end {
  padding-bottom: 35px;
}

#after-quote {
  padding-top: 30px;
}

.acknowledgements {
  font-family: georgia, serif;
  font-size: .75em;
}

img {
  height: auto;
  display: block;
}

.photo {
  width: 100%;
}

/* fullscreen photo with overlayed text styling */

.picture {
  position: relative;
  text-align: center;
  color: black;
}

.quote-photo {
  font-family: 'Shippori Antique', sans-serif;
  font-size: 2em;
}

.textbox {
  position: absolute;
  left: 150px;
  top: 225px;
  display: block;
  max-width: 30%;
  line-height: 170%;
  background: #fff;
  opacity: .7;
  border-top: solid 3px #D55312;
  border-bottom: solid 3px #D55312;
  height: auto;
}

.attribution-photo {
  font-family: georgia, serif;
  font-size: .75em;
}

.caption {
  font-size: 12px;
  font-family: 'Shippori Antique', sans-serif;
  text-align: left;
  padding-left: 5px;
}

/* Harriett Alexander and Solomon Simmons photo package*/

.solomon {
  margin: 0 auto;
}
.harriett {
  margin: 0 auto;
}

/* sidebar */
.sidebar {
  max-width: 60%;
  border-top: 6px groove #D55312;
  border-bottom: 6px groove #D55312;
  margin: 0 auto;
}

.sidebar-title {
  font-family: 'Shippori Antique', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}

.sidebar-description {
  font-family: georgia, serif;
  font-size: .75em;
  text-align: center;
}

ul {
  font-family: 'Shippori Antique', sans-serif;
  font-size: 1em;
}

#section-start {
  padding-top: 35px;
}


#end {
  font-size: 2em;
  color: #D55312;
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

@media(max-width:550px) {
  .hero-hed{
    font-size: 2em;
  }

  .sidebar {
    max-width: 500px;
  }

  .sidebar-title {
    font-size: 1em;
  }

  ul {
    font-size: .75em;
  }

  .textbox {
    max-width: 250px;
    top: 50px;
    left: 50px;
  }

  .quote-photo {
    font-size: 1em;
  }

  .attribution-photo {
    font-size: .6em;
  }

  .photo {
    width: 100%;
  }

  .headline {
    font-size: 2em;
    line-height: 1em;
  }

  .jumbotron {
    height: 400px;
  }
